#!/bin/bash
#V 1.8
#Original credit: haslettj
#Edit for comments/usibility/functionality: TGYK

#Configuration file

###DIRECTORY OPTIONS###
#Scripts directory
sdir="/home/pi/rpiWX/weather/predict"
#Directory to store captures
wdir="/home/pi/rpiWX/weather/"
#Root Directory of github repo. Used to check for new versions
rdir="/home/pi/rpiWX"


###SCHEDULING OPTIONS###
#Set to TRUE to disable "at" command output being mailed to local user
quiet=FALSE
#Desired elevation to target
deselev=CHANGEME


###CAPTURE OPTIONS###
#Common R820T supported gain values:
#0.0 0.9 1.4 2.7 3.7 7.7 8.7 12.5 14.4 15.7 16.6 19.7 20.7 22.9 25.4
#28.0 29.7 32.8 33.8 36.4 37.2 38.6 40.2 42.1 43.4 43.9 44.5 48.0 49.6
#NOAA gain
ngain=CHANGEME
#Meteor gain
mgain=CHANGEME
#PPM value to be used by rtl_fm
ppm=CHANGEME
#Meteor raw sampling rate
lrptrate=480000
#Meteor downsampling rate
lrptdownrate=120000
#NOAA raw sampling rate
noaarate=40000
#NOAA downsampling rate
noaadownrate=11025
#Set to TRUE to enable use of rtl_fm priority setting via nice
usenice=FALSE
#Nice value (-20 through 19) -20 is highest priority, 0 is default
nicevalue=-15
#Set to TRUE to enable use of bias tee for LNA power
biast=FALSE


###PROCESSING OPTIONS###
#PLL factor for Meteor-M 2 demodulation
pll=220
#PLL factor for Meteor-M2 2 demodulation
pll2=100
#Symbol rate for Meteor-M 2 demodulation
symrate=72000
#Symbol rate for Meteor-M2 2 demodulation
symrate2=72000
#R/G/B values to be used by medet for Meteor-M 2
#65,65,64 creates a really nice false-color image
red=65
green=65
blue=64
#R/G/B values to be used by medet for Meteor-M2 2
#65,65,64 creates a really nice false-color image
red2=67
green2=67
blue2=67

#Supported enhancements without upgrade:
#ZA, MB, MD, BD, CC, EC, HE, HF, JF, JJ, LC, TA, WV, WV-old, NO
#MCIR, MSA, HVC, HVCT, sea, therm, veg, class, contrast, invert, bw
#Upgrade-only enhancements:
#MSA-precip, MSA-analglyph, MCIR-precip, MCIR-analglyph, HVCT-precip,
#HVC-precip, analglyph, canalglyph
#List of enhancements for wxtoimg to use
declare -a enhancements=("MB" "MSA" "MCIR" "NO" "HVC")
#Set to TRUE to enable cropping of telemetry data from wxtoimg images
crop=FALSE
#Set to TRUE to use dbdexter's script to remove geometric distortion from captured Meteor images
rectify=FALSE
#Set to TRUE to enable removal of raw I/Q file, wav files, and symbol files for space-saving
#This option leaves all successfully decoded images, and if successful Meteor-M 2 decoding, decoded dump files
cleanup=FALSE
#Set to TRUE to enable removal of directory and captured pass if wxtoimg gets a bad pass
prune=FALSE
#Set to TRUE to send email with captured pass/details. This assumes you have the mail client configured to an email address
sendemail=FALSE
#Email to send to
senduser=you@youremail.com
